.scroll{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: xx-large;
font-weight: 200;
color: rgb(12, 13, 14);
}
body{
background-color: grey;

}
h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: xx-large;
font-weight: 100;

}
header{
    background-color: lightblue;
    font-weight: 300;
    color: black;
    text-align: center;
}
.image {
      display: block;
      margin-left: auto;
      margin-right: auto;
     width: 300px;
     height: 300px;
}
.about{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    text-wrap: 10;
     word-break: break-word;       /* good for long strings */
  overflow-wrap: break-word; 
}
.fam{
    font-family: 'Times New Roman', Times, serif;
    font: x-large;
    text-align: justify;
}